* {
  padding: 0%;
  margin: 0%;
}
body {
  background: rgb(216, 236, 245);
  background: linear-gradient(
    90deg,
    rgba(216, 236, 245, 1) 50%,
    rgba(18, 0, 255, 1) 50%
  );
}
.container {
  border: solid 0.2rem snow;
  background-color: #ffff;
  z-index: 50;
  margin: 5% 15%;
  filter: drop-shadow(2px 4px 8px #f3eeee);
}
#git__icon {
  position: absolute;
  left: 30rem;
  top: 2.2rem;
  transition: 1s;
}
#git__icon:hover {
  transform: rotateY(360deg);
}
.container__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2%;
}
.container__input form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  align-self: flex-start;
}
.container__input label {
  margin-bottom: 2.5rem;
  margin-right: 0.3rem;
}
.container__input input {
  background-color: rgb(187, 187, 187);
  color: snow;
}
.buttons {
  position: absolute;
  right: 0;
  top: 6.5rem;
}
#button2,
#button1 {
  color: snow;
  background-color: rgb(187, 187, 187);
  text-align: left;
  margin-right: 1rem;
  font-size: 1rem;
}
.card__img {
  border-radius: 50% 50%;
  border: solid 0.2rem rgb(116, 116, 116);
  box-shadow: inset 0.2rem 0.2rem 0.2rem 0.2rem;
}

.card__main-follow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin-left: 25rem;
}
.body__data-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.card__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.body__data-card {
  background-color: snow;
  filter: drop-shadow(6px 8px 10px #fcf9f9);
  border-radius: 8% 8%;
  margin: 0 1rem;
  padding: 1rem;
  visibility: hidden;
}
.card__header-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 18rem;
  font-size: 2rem;
}
.card__header-text1 {
  width: 30rem;
  font-size: 3rem;
}
.card__header-text2 {
  margin-left: 1rem;
}
.card__main-reposy {
  left: 38rem;
  bottom: 5rem;
  position: absolute;
}
.card__main-followers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 4rem;
  font-size: 1.7rem;
}
.card__main-following {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 4rem;
  font-size: 1.7rem;
}
.card__main-reposy {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 4rem;
  font-size: 2.5rem;
}
.card__header-text2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 4rem;
}
.card__header-text22 {
  font-size: 2.5rem;
}
